@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import "_media", "_variables", "_globals";

* {
  font-family: "Sen", sans-serif;
  color: $color-black;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1302px;
  padding-inline: 10px;
}

.button {
  @include button;
}

.header {
  background-color: $color-black;

  &__body {
    padding-block: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__row {
    align-items: center;
    display: flex;
    gap: 32px;

    @include mobile {
      display: none;
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 24px;
    }

    &-link {
      color: $color-light;
      transition: color 0.3s ease;

      &:hover {
        color: $color-yellow;
      }
    }
  }

  &__button {
    background-color: $color-light;
    color: $color-black;
  }
}

.hero {
  &__body {
    padding-top: 128px;
    padding-bottom: 64px;
  }

  &__cap {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__text {
    color: $color-medium-grey;
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  &__info {
    background-color: $color-purple;
    padding: 48px 64px;
    display: flex;
    gap: 42px;
    max-width: 768px;
    margin: 0 auto 32px;
  }

  &__work,
  &__contact {
    width: 294px;
    &-text {
      color: rgba($color: $color-light, $alpha: 0.6);
      margin-bottom: 16px;
    }
  }

  &__work-support,
  &__contact-email {
    color: rgba($color: $color-light, $alpha: 0.6);
  }

  &__work-days,
  &__work-time,
  &__contact-number {
    color: $color-light;
  }

  &__work-days,
  &__contact-number {
    padding-top: 16px;
    border-top: 1px solid rgba($color: $color-light, $alpha: 0.1);
  }

  &__form {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input,
  &__form-query {
    height: 76px;
  }

  &__form-query {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 63px;
  }

  &__input-high {
    height: 144px;
    padding-bottom: 92px;
  }

  &__input,
  &__input-high,
  &__form-query {
    border: 1px solid rgba($color: #6d6e76, $alpha: 0.5);
    border-radius: 2px;
    padding-left: 24px;
  }

  &__input-query,
  &__input,
  &__input-high {
    &::placeholder {
      font-size: 16px;
      line-height: 28px;
      color: $color-black;
    }
  }

  &__button {
    font-size: 24px;
    line-height: 32px;
    height: 64px;
  }
}

.footer {
  background-color: $color-black;

  &__body {
    margin-top: 64px;
    padding-top: 59px;
    padding-bottom: 56px;

    @include tablet {
      margin-top: 40px;
    }

    @include tablet {
      margin-top: 30px;
    }

    @include mobile {
      margin-top: 20px;
    }
  }

  &__row {
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      gap: 20px;
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__nav {
    &-list {
      display: flex;
      gap: 24px;

      @include mobile {
        flex-direction: column;
        gap: 16px;
      }
    }

    &-link {
      color: $color-light;
      transition: color 0.3s ease;

      &:hover {
        color: $color-yellow;
      }
    }
  }

  &__title {
    color: $color-light;
    max-width: 562px;
  }

  &__subscribe {
    padding: 80px 64px;
    display: flex;
    justify-content: space-between;
    gap: 54px;
    align-items: start;
    background-color: rgba($color: $color-light, $alpha: 0.05);

    @include tablet {
      text-align: center;
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      padding: 40px 32px;
      gap: 20px;
    }
  }

  &__form {
    display: flex;
    gap: 24px;

    @include mobile-s {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__input {
    color: $color-light;
    height: 56px;
    padding-left: $input-padding-left;
    padding-right: $input-padding-right;
    border: 1px solid $color-dark-grey;

    &::placeholder {
      color: $color-medium-grey;
    }
  }

  &__info {
    align-items: center;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }

  &__media {
    display: flex;
    gap: 27px;
  }

  &__contact {
    color: rgba($color: $color-light, $alpha: 0.7);
  }
}
