@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

.display {
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -2px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.body-first {
  font-size: 16px;
  line-height: 28px;
}

.body-second {
  font-size: 14px;
  line-height: 20px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cap1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
}

.cap2 {
  font-size: 12px;
  line-height: 16px;
}

.cap3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
}

* {
  font-family: "Sen", sans-serif;
  color: #232536;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1302px;
  padding-inline: 10px;
}

.button {
  height: 56px;
  padding-inline: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  background: #ffd050;
  transition: background-color 0.3s ease;
}

.button:hover {
  background: #edc14a;
}

.header {
  background-color: #232536;
}

.header__body {
  padding-block: 12px;
  display: flex;
  justify-content: space-between;
}

.header__row {
  align-items: center;
  display: flex;
  gap: 32px;
}

.header__nav-list {
  display: flex;
  gap: 24px;
}

.header__nav-link {
  color: #ffffff;
  transition: color 0.3s ease;
}

.header__nav-link:hover {
  color: #ffd050;
}

.header__button {
  background-color: #ffffff;
  color: #232536;
}

.hero {
  background-image: url(../images/home/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 128px;
  padding-bottom: 192px;
  margin-bottom: 64px;
}

.hero__label {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
}

.hero__label-medium,
.hero__label-medium span {
  color: #ffffff;
}

.hero__label span {
  font-weight: 900;
}

.hero__display {
  margin-bottom: 24px;
}

.hero__body {
  max-width: 804px;
}

.hero__copyright {
  margin-bottom: 16px;
  display: flex;
  color: #ffffff;
}

.hero__copyright span {
  color: #ffd050;
}

.hero__text {
  margin-bottom: 48px;
  color: #ffffff;
}

.featured {
  padding-block: 64px;
}

.featured__body {
  display: flex;
  gap: 32px;
}

.featured__left {
  max-width: 733px;
}

.featured__left-body {
  border: 1px solid rgba(109, 110, 118, 0.1);
  padding: 32px;
}

.featured__image {
  margin-bottom: 32px;
}

.featured__title {
  margin-bottom: 32px;
}

.featured__label span {
  color: #592ea9;
}

.featured__label {
  margin-bottom: 16px;
}

.featured__info-title {
  margin-bottom: 16px;
}

.featured__info-text {
  margin-bottom: 32px;
  color: #6d6e76;
}

.featured__right-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;
}

.featured__right-item {
  padding: 32px 32px 25px;
  transition: background-color 0.3s ease;
}

.featured__right-item:hover {
  background-color: #fbf6ea;
}

.featured__all {
  color: #592ea9;
  transition: color 0.3s ease;
}

.featured__all:hover {
  color: #ffd050;
}

.mission__body {
  padding-block: 64px;
}

.mission__lines {
  display: flex;
  justify-content: flex-end;
}

.mission__lines-yellow {
  content: "";
  width: 779px;
  height: 23px;
  background-color: #ffd050;
}

.mission__lines-purple {
  content: "";
  width: 282px;
  height: 23px;
  background-color: #592ea9;
}

.mission__cap {
  text-transform: uppercase;
  margin-bottom: 24px;
}

.mission__title {
  margin-bottom: 16px;
}

.mission__text {
  color: #6d6e76;
  margin-bottom: 16px;
}

.mission__content {
  background-color: #f4f0f8;
  padding-block: 96px;
  padding-left: 80px;
  display: flex;
  gap: 61px;
}

.mission__content-left {
  max-width: 515px;
}

.mission__content-right {
  max-width: 492px;
}

.mission__link {
  color: #592ea9;
  transition: color 0.3s ease;
}

.mission__link:hover {
  color: #ffd050;
}

.category__body {
  padding-block: 64px;
}

.category__title {
  text-align: center;
  margin-bottom: 48px;
}

.category__list {
  display: flex;
  gap: 32px;
}

.category__item {
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.3);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.category__item:hover {
  background-color: #ffd050;
}

.category__image-wrapper {
  margin-bottom: 16px;
  width: 48px;
  aspect-ratio: 1;
  background-color: #fbf6ea;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category__image-wrapper svg:first-child {
  position: absolute;
}

.category__image-title {
  margin-bottom: 4px;
  color: #232536;
}

.category__image-text {
  color: #6d6e76;
}

.story__body {
  padding-top: 64px;
  padding-bottom: 48px;
  position: relative;
}

.story__info {
  background-color: #ffffff;
  position: absolute;
  max-width: 706px;
  padding: 80px;
  right: 0;
  bottom: 0;
}

.story__cap {
  text-transform: uppercase;
  color: #232536;
  margin-bottom: 24px;
}

.story__title {
  color: #232536;
  margin-bottom: 16px;
}

.story__text {
  margin-bottom: 32px;
  color: #6d6e76;
}

.authors__body {
  padding-block: 64px;
  text-align: center;
}

.authors__title {
  margin-bottom: 48px;
}

.authors__list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}

.authors__item {
  width: 296px;
  background-color: #f4f4f4;
  padding: 40px 28px;
  transition: background-color 0.3s ease;
}

.authors__item:hover {
  background-color: #fbf6ea;
}

.authors__image {
  margin-bottom: 20px;
}

.authors__item-job {
  color: #6d6e76;
  margin-bottom: 20px;
}

.authors__media {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.media__body {
  padding-block: 48px;
}

.media__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.media__item {
  filter: grayscale(1);
}

.review__body {
  margin-top: 48px;
  margin-bottom: 64px;
  background-color: #fbf6ea;
  display: flex;
}

.review__body-left {
  box-sizing: content-box;
  max-width: 349px;
  margin-left: 112px;
  padding-top: 12px;
  padding-right: 80px;
  padding-bottom: 98px;
  border-right: 1px solid rgba(109, 110, 118, 0.4);
}

.review__body-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__body-person {
  display: flex;
  gap: 16px;
}

.review__body-right {
  max-width: 532px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review__cap {
  margin-bottom: 12px;
  text-transform: uppercase;
}

.review__container {
  display: flex;
  justify-content: space-between;
  gap: 98px;
  padding-top: 80px;
  padding-bottom: 74px;
}

.review__title {
  margin-bottom: 16px;
}

.review__title-right {
  max-width: 469px;
}

.review__scroller {
  display: flex;
  gap: 24px;
}

.review__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffffff;
}

.review__button:hover {
  background-color: #232536;
  transform: scale(1.2);
}

.review__arrow:hover {
  fill: #ffffff;
}

.join__body {
  margin: 0 auto;
  max-width: 414px;
  padding-block: 64px;
  text-align: center;
}

.join__title {
  margin-bottom: 16px;
}

.join__text {
  margin-bottom: 32px;
}

.footer {
  background-color: #232536;
}

.footer__body {
  margin-top: 64px;
  padding-top: 59px;
  padding-bottom: 56px;
}

.footer__row {
  margin-bottom: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav-list {
  display: flex;
  gap: 24px;
}

.footer__nav-link {
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer__nav-link:hover {
  color: #ffd050;
}

.footer__title {
  color: #ffffff;
  max-width: 562px;
}

.footer__subscribe {
  padding: 80px 64px;
  display: flex;
  justify-content: space-between;
  gap: 54px;
  align-items: start;
  background-color: rgba(255, 255, 255, 0.05);
}

.footer__form {
  display: flex;
  gap: 24px;
}

.footer__input {
  color: #ffffff;
  height: 56px;
  padding-left: 24px;
  padding-right: 63px;
  border: 1px solid #4c4c4c;
}

.footer__input::-moz-placeholder {
  color: #6d6e76;
}

.footer__input::placeholder {
  color: #6d6e76;
}

.footer__info {
  align-items: center;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.footer__media {
  display: flex;
  gap: 27px;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1280px) {
  .authors__list {
    justify-content: center;
  }

  .authors__item {
    width: 40%;
  }

  .review__body {
    justify-content: center;
  }

  .review__body-left {
    border: unset;
    margin-left: unset;
    max-width: unset;
    padding-bottom: 0;
  }

  .review__body-right {
    max-width: unset;
  }

  .review__container {
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .review__title-right {
    margin-bottom: 20px;
  }
}

@media (max-width: 1023px) {
  .display {
    font-size: clamp(36px, 5vw, 56px);
    line-height: clamp(42px, 6vw, 64px);
  }

  h1 {
    font-size: clamp(32px, 5vw, 48px);
    line-height: clamp(42px, 6vw, 64px);
  }

  h2 {
    font-size: clamp(24px, 4vw, 36px);
    line-height: clamp(32px, 5vw, 48px);
  }

  h3 {
    font-size: clamp(20px, 3vw, 28px);
    line-height: clamp(28px, 4vw, 40px);
  }

  h4 {
    font-size: clamp(18px, 2vw, 24px);
    line-height: clamp(20px, 3vw, 32px);
  }

  h5 {
    font-size: clamp(16px, 2vw, 20px);
    line-height: clamp(18px, 3vw, 32px);
  }

  h6 {
    font-size: clamp(14px, 2vw, 16px);
    line-height: clamp(18px, 2vw, 24px);
  }

  .body-first {
    font-size: clamp(14px, 2vw, 16px);
    line-height: clamp(20px, 3vw, 28px);
  }

  .body-second {
    font-size: clamp(12px, 1vw, 14px);
  }

  .label {
    font-size: clamp(12px, 1vw, 14px);
  }

  .cap1 {
    font-size: clamp(14px, 2vw, 16px);
  }

  .hero {
    margin-bottom: 40px;
  }

  .featured {
    padding-block: 40px;
  }

  .featured__body {
    flex-direction: column;
  }

  .featured__left {
    max-width: unset;
  }

  .featured__image {
    width: 100%;
  }

  .mission__body {
    padding-block: 40px;
  }

  .mission__content {
    flex-direction: column;
    padding-left: 0;
    padding-block: 50px;
  }

  .category__body {
    padding-block: 40px;
  }

  .category__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .story__body {
    padding-top: 40px;
    padding-bottom: 36px;
  }

  .story__info {
    opacity: 0.9;
    padding: 50px;
  }

  .authors__body {
    padding-block: 40px;
  }

  .authors__title {
    margin-bottom: 30px;
  }

  .media__body {
    padding-block: 30px;
  }

  .media__list {
    gap: 50px 150px;
    justify-content: center;
  }

  .review__body {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .review__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .join__body {
    padding-block: 40px;
  }

  .footer__body {
    margin-top: 40px;
  }

  .footer__body {
    margin-top: 30px;
  }

  .footer__subscribe {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .header__row {
    display: none;
  }

  .hero {
    margin-bottom: 25px;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .featured {
    padding-block: 30px;
  }

  .mission__body {
    padding-block: 30px;
  }

  .mission__content {
    padding-block: 30px;
    padding-inline: 30px;
  }

  .mission__content-left {
    max-width: unset;
  }

  .mission__content-right {
    max-width: unset;
  }

  .category__body {
    padding-block: 30px;
  }

  .story__body {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .authors__body {
    padding-block: 30px;
  }

  .authors__title {
    margin-bottom: 20px;
  }

  .authors__list {
    gap: 20px;
  }

  .authors__item {
    width: 296px;
  }

  .media__body {
    padding-block: 20px;
  }

  .review__body {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .review__container {
    padding-inline: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .join__body {
    padding-block: 30px;
  }

  .footer__body {
    margin-top: 20px;
  }

  .footer__row {
    gap: 20px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__nav-list {
    flex-direction: column;
    gap: 16px;
  }

  .footer__subscribe {
    padding: 40px 32px;
    gap: 20px;
  }
}

@media (max-width: 537px) {
  .hero {
    margin-bottom: 15px;
  }

  .featured {
    padding-block: 20px;
  }

  .mission__body {
    padding-block: 20px;
  }

  .mission__content {
    padding-block: 20px;
    padding-inline: 30px;
  }

  .category__body {
    padding-block: 20px;
  }

  .story__body {
    padding-top: 20px;
    padding-bottom: 18px;
  }

  .story__info {
    position: unset;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .authors__body {
    padding-block: 20px;
  }

  .review__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .join__body {
    padding-block: 20px;
  }

  .footer__form {
    flex-direction: column;
    gap: 10px;
  }
}